/* Estilos para la sección del Menú */

/* Estilos generales para tarjetas de platos */
.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

/* Estilos para imágenes de platos */
.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
    height: 200px;
}

/* Estilos para títulos de platos */
.card-title {
    font-size: 1.2rem;
    color: #333;
    margin-top: 15px;
}

/* Estilos para textos descriptivos de platos */
.card-text {
    font-size: 1rem;
    color: #666;
}

/* Estilos para la sección de Platos Principales */
#entradas, #platos-principales, #postres{
    margin: 30px 0px;
    padding: 50px;
}
#entradas h3{
    color: #1e4072;
    border-bottom: 2px solid #1e4072;
    padding-bottom: 10px;
}
#platos-principales h3 {
    color: #1e4072;
    border-bottom: 2px solid #1e4072;
    padding-bottom: 10px;
}

/* Estilos para la sección de Postres */
#postres h3 {
    color: #1e4072;
    border-bottom: 2px solid #1e4072;
    padding-bottom: 10px;
}

/* Estilos para el fondo y el espacio alrededor de la sección del Menú */
#menu {
    background-color: #f4f4f4;
    padding: 50px 0;
}
